* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
  background-color: rgba(250, 225, 221, 0.85);
  min-height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
}