@import "../Components/variables.scss";

@mixin h3Properties {
    font-size: 35px;
    margin: 10% 0%;
    color: map-get($colors, h3);
    text-align: center;
    @include tablet{
        font-size: 35px;
    }
}

@mixin containerDefault {
    min-height: 100vh;
    margin: 1% 15%;
}

@mixin mobile {
    @media (max-width: map-get($resolutions,mobile)){
        @content;
    }
}

@mixin tablet {
    @media (max-width: map-get($resolutions,tablet)){
        @content;
    }
}

@mixin desktop {
    @media (max-width: map-get($resolutions, desktop)){
        @content;
    }
}